@font-face {
    font-family: typoRoundLight;
    src: url(../assets/fonts/Typo_Round_Light_Demo.otf) format('truetype');
}


body{
    padding: 0%;
    margin: 0%;
    font-family: typoRoundLight;
    width: 100%;
    background-color: #f8f0f0;

}

 
.acceuil2_block2_images img{
    width: 100%;
    height: 100%;
    padding: 16%;
    margin: 0%;
    border-radius :25% ;
    
}

#image1_acceuil1{
    width: 100%;
        height: 100%;
            padding: 9%;
}


#slogan_accueil{
text-align: center;
font-style: italic;
padding: 17%;
}

#acceuil_partie1{
    display: flex;
    align-items:center;
    
    
}
.acceuil2_block1{
    width: 40%;
}

.acceuil2_block2{
    width: 60%;
}


 
h3.block1_accueil{
    text-align: center;
    background-color : #70a0afaf ;
    width: 100%;
    border-radius : 20px ;
    font-size: 40px;
    padding-left: 10%;
    padding-right: 10%;
    

}

.acceuil2_block2_images{
    display: flex;

}
   
.acceuil_block1_lien_contact a {
    color : rgb(0, 0, 0);

    
}

.acceuil_block1_lien_contact, .block1_tiitre_mescreation{
    color:black;
    text-align: center;
    border-radius:20px;
    margin-top: 13px;
    margin-bottom: 10px;

}

.boutton_contact_block1, .block1_accueil {
        background-color: #70A0AF;
        display: inline;
        border-radius: 20px ;
        padding-left: 4px;
        padding-right: 4px;
}
.boutton_contact_block1{
    font-size: 20px;
}
.block1_margin{
    padding: 10px;
}

