@font-face {
    font-family: typoRoundLight;
    src: url(../assets/fonts/Typo_Round_Light_Demo.otf) format('truetype');
}


body {
    padding: 0%;
    margin: 0%;
}

#acceuil_story{
    display: flex;
    padding-top: 2% ;
    padding-bottom: 2%;

}

.story_qui_suis_je{
    width: 50%;
}

.story_titre{
    height: 20%;
    text-align: center;
}

.story_titre h3{
    background-color : #70a0afaf ;
    display: inline;
    font-size: 40px;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 25px;
    }

.story_text{
    height: 80%;
    padding: 0%;
    margin: 0px;
}
.story_text p {
    font-size: 100%;
    padding-left: 20%;
    padding-right: 20%;
}

.story_biche_img{
    width: 50%;
}

#acceuil_story img{
    width: 100%;
    height: 100%;
}



