@font-face {
    font-family: typo;
    src: url(../assets/fonts/Typo_Round_Light_Demo.otf);
}

#produit_top_ventes{
    display: flex;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
}

#produit_top_ventes div{
    margin: 0%;
        padding: 0%;
}

#produit_top_ventes img {
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
}

.top_img{
    text-align:center;
}



.top_produit_titre h4{
    background-color :#BC9CB0;
    padding: 2%;
    border-radius : 25px ;
    
}

#produit_top_ventes a {
    text-decoration: none;
    color : black ;
}

.top_dodo, .top_acc, .top_autre, .top_vet{
    width: 25%;
    height: 25%;
}