@font-face {
    font-family: typo;
    src: url(../assets/fonts/Typo_Round_Light_Demo.otf);
}

#commentaires {
    margin-left: 90px;
}

.photoprod {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

#commentaires div {
    display: flex;
    flex-direction: row;
    gap: 60px;
}