@font-face {
    font-family: typoRoundLight;
    src: url(../assets/fonts/Typo_Round_Light_Demo.otf) format('truetype');
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f8f0f0;
    display: flex ;
    justify-content:space-around;
}

h2{
    text-align: center;
}
section{
    padding: 0%;
    margin: 0%;
    
}

section.information_commande{
    background-color:bisque;
    
}

.commander{
display: flex;
}

section.formulaire_contact{
    background-color:aquamarine;
    
}

img{
    width: 100% ;
    height: 100%;
}
.logo_commande{
    width: 25px ;
}