@font-face {
    font-family: typoRoundLight;
    src: url(../assets/fonts/Typo_Round_Light_Demo.otf) format('truetype');
}

.body {
    margin: 0;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
    background-color: #f8f0f0;
    display: flex ;
    flex-direction: row;
    font-family: typoRoundLight;
}

h2{
    text-align: center;
}
section{
    padding: 0%;
    margin: 0%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.information_commande{
    border-right : rgb(151, 135, 135) solid 2px ;
}


.commander {
    display : flex;
    

}

.commander div {
    justify-content: space-around;
}



.boutton_envoie{
    display: flex;
    justify-content: center;
    
}

button:hover{
background-color: antiquewhite;
    border: black solid 3px;
}

#message{
    
    width: 100%;
    height: 100px;
    border-radius: 3px;
    
}

label{
    display: block;
    padding-top : 10px;
    padding-left: 8px;

}

.logo_etape_commande{
    width: 15% ;
    filter: invert(75%) sepia(24%) saturate(260%) hue-rotate(270deg) brightness(86%) contrast(84%);
}

.cont-img{
    width: 50px;
    height: 50px;
}

.logo_etape_commande img{
    width: 100%;
    height: 100%;
}

.cont-img2{
    width: 60px;
}

footer a {
    color :antiquewhite ;
}
