
footer {
    background-image: linear-gradient(135deg, #e1d5dd 10%, #bc9cb0 50%);
    position: relative;
    width: 100%;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: typo;
    padding: 15px;

}

.logo {
    height: 27px;
    width: 27px;
    border-radius: 0px;
    padding: 2px;
}

.logo_deseign {
    display: flex;
    flex-direction: row;
    padding: auto;
}

.rsx {
    display: inline;


}

.align-center {
    align-items: center;
}

.block_footer,
footer a {
    text-align: center;
    color: antiquewhite;
}




#remise_produits_footer {
    border-right: solid;
    padding-right: 5%;
    padding-left: 5%;
}

#remise_produits_footer div,
.cgu-mail {
    display: flex;
    flex-direction: row;
}

/* reseau sociaux */
#fil_reseau {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;

}

.frame_fb_insta div {
    display: flex;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
}

.frame_fb_insta p {
    font-size: 17px;
}