body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}


footer {
    background-color: #70A0AF;
    position:relative;
    width:100%;
}

 .logo{
    height: 27px;
    width: 27px;
    border-radius: 0px;
    padding: 5px;
}

img {
    width: 100%;
    height: 100%;
}


.information_livraison, .footer_categorie , .cgu-mail{
    display: flex;
    flex-direction: row;
    padding-left: 50px;

}

.rsx   {
    display: inline;

}

p{
    font-family :Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.block_footer , a{
    text-align: center;
    color: antiquewhite;
}

p{
    font-family: Typo Round Light Demo;
        font-size: 12px;
        font-weight: 300;
        line-height: 14px;
        letter-spacing: 0em;
        text-align: center;
}

#remise_produits {
    border-right: solid;
    padding-right: 5% ;
}








