@font-face {
    font-family: typo;
    src: url(../assets/fonts/Typo_Round_Light_Demo.otf);
}

#firstcommentaires {
    display: flex;
    flex-direction: row;
    gap: 15%
}

#secondcommentaires {
    display: flex;
    flex-direction: row;
    gap: 15%

}

.firstphoto {
    display: flex;
    gap: 30px;
    align-items: center;
    margin: 30px;
    
}

.comm {
    font-size: 16px;
    font-family: typo;
    max-width: 40ch;
}
#commentaires {
    background-color: #BC9CB0;
    margin: 0;
@font-face {
    font-family: tsukimilight;
    src: url(../assets/fonts/TsukimiRounded-Light.ttf);
}

body {
    margin-left: 90px;
    margin-right: 90px;
}

#socialfeed {
    display: flex;
}

#textinsta {
    margin-top: 60px;
    margin-left: 50px;
    font-family: typo;
    font-size: 24px;
}

#textface {
    margin-top: 200px;
    margin-left: 50px;
    font-family: typo;
    font-size: 24px;
}

#textsocial {
    background-image: url(../Logo/Logo\ header.png);
    background-repeat: no-repeat;
    background-position: center;
}