@font-face {
    font-family: typo;
    src: url(../assets/fonts/Typo_Round_Light_Demo.otf);
}

body {

}

.boutoncreations {
    position: absolute;
    right: 250px;
}

.mainphototop {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 20px;
}

.txttop {
    max-width: 60ch;
    text-align: center;
    position:absolute;
    right: 240px;
    bottom: 200px;
    font-family: typo;
    font-size: 20px;
}

.contacttop {
    position: absolute;
    right: 510px;
    bottom: 170px;
}