@font-face {
    font-family: typo;
    src: url(../assets/fonts/Typo_Round_Light_Demo.otf);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: typo ;
}

/* header */
header {
    width: 100%;
    font-family: typo_round;
}

.overlay {
    display: flex;
    background-image: linear-gradient(135deg, #e1d5dd 10%, #bc9cb0 50%);
    margin-left: 0%;
    color: #e1d5dd;
    justify-content: space-around;
    align-items: center;
}

#logo_compte_hd {
    margin-top: 15px;
    
}

#suivez-moi {
    text-align: center;
    margin-bottom: 2%;
}

.logo_reseaux_hd {
    width: 55px;
    filter: invert(100%) sepia(15%) saturate(1850%) hue-rotate(317deg) brightness(100%) contrast(99%);
    padding: 0;
    align-items: center;
    margin-right: 2px;
}

.logo_reseaux_hd:hover {
    box-shadow: 2px 5px 5px rgb(0, 0, 0);
    border-radius: 50%
}

.menu_hd {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: bolder;
    font-family: typo;
    margin-top: 0%;
    border-bottom: 1px solid #79353bab;
    border-left: none;
    border-right: none;

}

div>nav>a:hover {
    filter: drop-shadow(1px 1px 1px #b89e9e);
}



.menu_hd>a {
    color: #5a2328;
    text-decoration: none;
}

.sticky {
    position : fixed;
    top: 0;
    width: 100%;
    background-color :#bc9cb0a9 ;
    border-bottom: 1px solid #8f555a31;
}

.sticky a {
        font-size: 20px;
}


#myHeader{
    z-index: 2;
}

/*Fin Header*/

/* Modal */

#modal-header, #modal-footer {
    background-color : #bc9cb0 ;
}


/* fin modal */

/* Section acceuil */

#titre_creation-acceuil{
    /* background-color :#70A0AF ;
    opacity: 30;
    font-size: 40px;
    border-radius: 25px; */
    font-family: typo;
    padding: 10px;     
    color: #5c8d9c;
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.15);
    font-size: 50px;
}



.photo_margaux{
    padding-left: 9%;
    padding-right: 5%;
    padding-top: 5%;
    z-index : 1 ;
}
.image_home{
    width: 80px;
    height: 50px;
}

.boutton-contactez-moi:hover{
        color: antiquewhite;
box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.boutton-contactez-moi{
    background-color : #a86d90e0 ;
    border-radius : 25px ;

}

#images-caroussel {
    height: 500px;
}


/* fin section acceuil */



/* section story */
#acceuil_story{
    display: flex;
    padding-top: 2% ;
    padding-bottom: 2%;
}

.story_qui_suis_je{
    width: 50%;
    font-family: typo;
}

.story_titre{
    text-align: center;
}

.story_titre h3{
    color: #5c8d9c;
        text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.15);
    /* background-color : #70A0AF;
    border-radius: 25px;    */
    font-size: 40px;
    }


.story_text p {
    font-size:  14px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10px;
}

.story_biche_img{
    width: 50%;
}

#acceuil_story img{
    width: 100%;
    height: 100%;
}
/* Fin section story */

/* Section reseau socieaux */
#fil_reseau {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0%;

}

.frame_fb_insta div {
    display: flex;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.frame_fb_insta p {
    font-size: 17px;
}

.text_homepage_reseau {
     border-radius: 10%;
    text-align: justify;
    background-color: #70a0af7c;
    padding: 1%; 
}

/* #doigt div:hover,#doigt div:focus{
        animation: doigt 4s infinite linear;


}

@keyframes doigt {
    100% {
        background: rgba(255, 140, 0, 0.4) url(../Logo/Logo_Accueil/arrow_insta‌.png) no-repeat 5px 10px;
    }

    50% {
        background: rgba(255, 140, 0, 1) url(../Logo/Logo_Accueil/arrow_insta‌.png) no-repeat 50px 10px;
    }

    0% {
        background: rgba(255, 140, 0, 0.4) url(../Logo/Logo_Accueil/arrow_insta‌.png) no-repeat 5px 10px;
    }
} */
/* Section Commentaire*/

#commentaires {
    display: flex ;
    background-image: linear-gradient(135deg, #e1d5dd 10%, #bc9cb0 50%);
}

.firstphoto{
    display: flex;
    justify-content: space-around;
    margin: 2%;
    
    border-radius: 6%;
}

.titre_retour{
    text-align: center;
    font-family: typo_round;
    padding-bottom: 1%;
    
}

.firstphoto>img{
    border-radius: 6%;
    border: solid 1px #5a2328;
    width:"152px"; 
    height:"146px";
    
}

#commentaires p {
    padding: 4%;
    font-family: typo;
    font-size: medium;
}

#firstcommentaires{
    padding-left: 5%;
}
/*fin commentaire */
/* section produits */

#section-article h4{
    border-radius: 25px ;
    
      text-align: center;
      background-color:#70A0AF ;
    
}


.text_homepage_produit{
    text-align: center;
}

#section-article a{
    text-decoration: none;
    color : black ;
}

#section-article h4:hover {
    color: antiquewhite;
}


/* fin section produits */
/* Footer */
footer {
    background-image: linear-gradient(135deg, #e1d5dd 10%, #bc9cb0 50%);
    position: relative;
    width:100%;
    bottom: 0px;
    display: flex ;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: typo; 
    padding: 15px;
    
}

 .logo{
    height: 27px;
    width: 27px;
    border-radius: 0px;
    padding: 2px;
}

.logo_deseign{
    display: flex;
    flex-direction: row;
    padding: auto;
}

.rsx   {
    display: inline;
   

}

.align-center{
    align-items: center;
}

.block_footer , footer a{
    text-align: center;
    color: antiquewhite;
}




#remise_produits_footer {
    border-right: solid;
    padding-right: 5% ;
    padding-left: 5%;
}

#remise_produits_footer div, .cgu-mail{
    display: flex;
    flex-direction: row;
}

/* reseau sociaux */




/* ajout mediaquerrie pour tel */
@media screen and (max-width: 600px) {
    body {
        margin: 0%;
        padding: 0%;
    }

    .story_biche_img{
       visibility: hidden;
                }

        #acceuil_story{
            display: block;
            padding: 0%;
        }
    
    .story_qui_suis_je{
        width: 100%;
        padding: 0%;
        
    }
      
    #secondcommentaires{
    display: none;    }



.story_titre h3{
    font-size: 20px;
}

.frame_insta{
    display: none;
}
}
