body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}


footer {
    background-color: #70A0AF;
    position:relative;
    width:100%;
    bottom: 0; 

}

.block_logo, .logo {
    width: 25px;
    height:25px;
}

img {
    width: 100%;
    height: 100%;
}


.information_livraison, .footer_categorie {
    display: flex;
    flex-direction: row;
    padding-left: 50px;

}

.rsx   {
    display: inline;

}







