@font-face {
    font-family: typo;
    src: url(../assets/fonts/Typo_Round_Light_Demo.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#creations{
    font-family: typo;
}



#text_mon_atelier{
    font-size: 25px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 8%;
 }
/* 
#photo_atelier{
    justify-content: center;
    margin-left: 10%;
    margin-bottom: 20px ;
}
#entete_creations{
    display: flex;
    flex-direction: row;
} */
#style_atelier{
    /* background-color : #70a0afaf ; */
    color: #5c8d9c;
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.15);
    font-size: 50px;
    padding: 0px;
    /*padding-left: 5%;
    /* padding-right: 5%; */
    /* border-radius: 25px; */
    /* padding: 1%; ; */ 
    /* width: 40%; */
    text-align: center;
    /* margin-left: 40%; */
}
.titre_foncé>h3{
    margin-left: 10%;
}



.fiche_prod,.fiche_prod>img{
   
    text-align: center;
    
}

#list_doudou, #list_acces, #list_vetement, #list_autres {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    padding: 20px
}



.fiche_prod,#list_vetement>.fiche_prod,#list_encore>.fiche_prod{
    background-color: #e1d5dd;
}

#list_acces>.fiche_prod, #list_autres>.fiche_prod{
    background-color: #BC9CB0;
}

.titre_foncé, .titre_clair{
    background-color: #BC9CB0;
    margin: 0;
    font-size: 40px;  
    text-align: center;  
}

#nav-produit{
    background-color : #e2d5dd ;
}

#nav-produit li, #nav-produit a {
    text-decoration: none;
    list-style-type: none;
    color : #5a2328 ;
    
}
#list_autres{
    overflow-x: auto;
        scroll-snap-type: x mandatory;
    padding-left: 3%;
}
#list_autres>.fiche_prod {
    margin-left: 2%;
    margin-right: 2%;
    scroll-margin-left: 3%;
    scroll-margin-right: 3%;
}

