html, body{
    margin: 0;padding: 0;
}
header{
    background-color: #70A0AF;
    width: 100%;    
}
h1{
    padding: 0px; margin: 0;
}
#iconemenu{
    width: 48px;
    height: 48px;
    color: #fdf0d5;
    margin-left: 37px;
    vertical-align:middle 
}
#logoheader{
    margin-left: 540px;   
}
