@font-face {
    font-family: typo;
    src: url(../assets/fonts/Typo_Round_Light_Demo.otf);
}

@font-face {
    font-family: tsukimilight;
    src: url(../assets/fonts/TsukimiRounded-Light.ttf);
}

body {
    margin-left: 90px;
    margin-right: 90px;
}

#socialfeed {
    display: flex;
}

#textinsta {
    margin-top: 100px;
    margin-left: 50px;
    font-family: typo;
}

#textface {
    margin-top: 200px;
    margin-left: 50px;
    font-family: typo;
}

#textsocial {
    background-image: url(../Logo/Logo\ header.png);
    background-repeat: no-repeat;
    background-position: center;
}